body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
